# built binaries/image
LibreELEC.USB-SD.Creator.Linux-64bit.bin
LibreELEC.USB-SD.Creator.Linux-32bit.bin
LibreELEC\ USB-SD\ Creator.app
LibreELEC.USB-SD.Creator.macOS.dmg
release/
tools/
build/
windows/winapp.rc

# Qt files
*.qm
libreelec_usb-sd_creator_plugin_import.cpp
libreelec.usb-sd.creator.win32_plugin_import.cpp
qrc_resources.cpp
ui_creator.h
.qmake.stash
.generated_files
Makefile
Makefile.Debug
Makefile.Release
object_script.*
*.pro.user
CMakeLists.txt.*

# crap
.DS_Store
.directory

# translations
lang_dl/
